<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd" >

    <context:annotation-config/>
<!--    <context:property-placeholder location="classpath:application.properties"/>-->
<!--    <context:component-scan base-package="org.example.service"/>-->
<!--    <context:component-scan base-package="org.example.repository.file"/>-->
<!--    <context:component-scan base-package="org.example.controller"/>-->
<!--    <bean class="org.example.service.DefaultMovieService">-->
<!--    </bean>-->
<!--    <bean class="org.example.repository.file.FileMovieRepository">-->
<!--    </bean>-->
<!--    <bean class="org.example.controller.MovieController">-->
<!--    </bean>-->

</beans>
